
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
build/
dist/

venv/
.env/
.venv/
env/
ENV/
*.env         


data/raw/
data/processed/
data/models/
!data/.gitkeep


experiment/logs/
experiment/metrics/
!experiment/.gitkeep


logs/
*.log
*.txt
*.out


.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store


*.tmp
*.bak
.cache/
.pytest_cache/
.coverage
htmlcov/


.ipynb_checkpoints/


*.joblib
*.pkl
*.h5
*.pt
*.onnx
